.page
  .header
    %img{src: page.header.try(:image_path)}
    %h1= page.header.try(:text) or "Header missing"
    .content
      %h2= page.content.try(:main_text) or "Main text missing"
      %table.games
        %tbody
          - if page.content.try(:items)
            - for item in page.content.try(:items)
              %tr
                %td
                  %a= link_to item.name, cms_page_path(item)
  .footer
    %p= page.footer.try(:text) or "Footer missing"
